body {
  margin: 20vh;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(500deg, #1a2a6c, #b21f1f, #fdbb2d);
  background: linear-gradient(to right, #1a2a6c, #5f0a87);
  display: flex;
  justify-content: center;
}
.container{
  background-color: #ffffff;
  padding: 30px;
  width: 90vh;
  border-radius: 20px;
}
.header{
  display: flex;
  justify-content: space-between;
}
.counter{
  font-size: 20px;
  font-weight: bold;
}
.store-data{
  padding: 15px;
  border-radius: 10px;
  border:none;
  cursor: pointer;
}
.input-container{
  margin-top: 2vh;
  border: 1px solid #5555;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
input{
  font-size: 16px;
  width: 500px;
  border: none;
  padding: 10px;
  outline: none;
  margin: 10px;
}
.add-btn{
  background-color: #f95c23;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  padding: 20px;
  width: 150px;
  cursor: pointer;
}
.empty-msg{
  text-align: center;
}
.todo-list-container{
  margin-top:10vh ;
}
.todos-list{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-text{
  display: flex;
  justify-content: space-between;
}
.check-todo{
  text-decoration: line-through;
  color: #0000004d ;
}
.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  cursor: pointer;
}
.todo-btn{
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

footer {
  position: fixed;       
  bottom: 0;
  left: 0;
  width: 100%;           
  text-align: center;
  padding: 12px 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
