/* TaskList */
.task-list-container{
  padding: 10px;
  margin: 10px;
  border: 2px solid gray;
  border-radius: 10px;
}
.list-container{
  margin-top: 20px;
  padding: 5px;
}
.empty-msg{
  text-align: center;
}
.heading{
  text-align: center;
}
.task-list-content{
  display: flex;
  justify-content: space-between;
}
.add-task-btn{
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: large;
  background-color: #0d6efd;
  cursor: pointer;
}

/* TaskForm */
.task-form{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.form-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-element{
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}
.exit-btn{
  border: none;
  background-color: transparent;
  font-size:x-large;
  cursor:pointer;
}
.submit-btn{
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #0ca1bf;
}

/* TaskCard */
.card-container{
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
